* {
  box-sizing: border-box;
}

.incoming {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: var(--Background-White99, #fafafa);
  padding-bottom: 56px;
  width: 1440px;
  height: 1435px;
  overflow: hidden;

  .materialSymbolsDashb {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
  }

  .autoWrapper {
    position: relative;
    width: 264px;
    height: 1120px;

    .frame1618874569 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      border-width: 0px 1px 0px 0px;
      border-style: solid;
      border-color: var(--Disabled-Grey, #aeaaae);
      background: #ffffff;
      padding: 44px 17px 0px;
      width: 264px;
      height: 1120px;
      row-gap: 52px;

      .logo {
        flex-shrink: 0;
        align-self: stretch;
        width: 229px;
        height: 40px;
      }

      .frame1618874565 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-end;
        align-self: stretch;
        row-gap: 350px;

        .registerNow3 {
          flex-shrink: 0;
          line-height: 24px;
          letter-spacing: 0;
          color: var(--On-Surface-white-10, #111215);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }

        .user {
          flex-shrink: 0;
          width: 24px;
          height: 24px;
          overflow: hidden;
        }

        .textButton {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 16px;
          padding: 16px 24px;
        }

        .frame1618873736 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 24px;

          .filledPrimary {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 16px;
            border-radius: 6px;
            box-shadow: var(--Effect-1, 0px 0px 45px 0px #00943c33);
            padding: 16px 24px;

            .registerNow {
              flex-shrink: 0;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--Background-container-white-10, #222222);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }
          }

          .filledPrimary2 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 16px;
            border-radius: 6px;
            box-shadow: var(--Effect-1, 0px 0px 45px 0px #00943c33);
            background: var(--Primary-Green-50, #00943c);
            padding: 16px 24px;

            .registerNow2 {
              flex-shrink: 0;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--Background-White99, #fafafa);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }
          }

          .textButton2 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 16px;
            padding: 16px 24px;
          }
        }

        .frame1618874564 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 48px;

          .frame1618873981 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            row-gap: 16px;

            .textButton3 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              column-gap: 8px;
              padding: 16px 24px;
            }
          }

          .frame1618874563 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            row-gap: 24px;

            .line2 {
              flex-shrink: 0;
              align-self: stretch;
              background: #aeaaae;
              height: 1px;
            }

            .frame1618873738 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              column-gap: 9px;
              border-radius: 6px;
              background: var(--Primary-Container-Green-99, #eafff3);
              padding: 8px 14px 10px;

              .ellipse13 {
                flex-shrink: 0;
                border-radius: 50%;
                width: 38px;
                height: 38px;
              }

              .frame1618873737 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;

                .johnCena {
                  flex-shrink: 0;
                  align-self: stretch;
                  line-height: 24px;
                  letter-spacing: 0;
                  color: #000000;
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 16px;
                }

                .cashier {
                  flex-shrink: 0;
                  align-self: stretch;
                  line-height: 16px;
                  letter-spacing: 0;
                  color: var(--Disabled-Grey, #aeaaae);
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }

    .line1 {
      position: absolute;
      top: 114px;
      right: -1176px;
      background: #aeaaae;
      width: 1440px;
      height: 1px;
    }
  }

  .autoWrapper7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 18px;

    .frame1618873730 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      padding: 19px 52px 7px 158px;
      min-width: 1176px;
      overflow: hidden;

      .textField {
        display: flex;
        position: relative;
        align-items: center;
        column-gap: 8px;
        margin-top: 4px;
        border: 1px solid var(--Disabled-Grey, #aeaaae);
        border-radius: 6px;
        padding: 15px 11px;
        width: 416px;
        height: 49px;

        .leadingIcon {
          flex-shrink: 0;
          z-index: 3;
          width: 24px;
          height: 24px;
          overflow: hidden;
        }

        .labelText {
          flex-grow: 1;
          z-index: 2;
          padding: 0px 4px;
          line-height: 24px;
          letter-spacing: 0;
          color: var(--Disabled-Grey, #aeaaae);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }

        .supportingText {
          position: absolute;
          top: 48px;
          left: -1px;
          flex-shrink: 0;
          z-index: 1;
          padding: 4px 16px;
          width: 416px;
          height: 24px;
          line-height: 16px;
          letter-spacing: 0.4px;
          color: #49454f;
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }
      }

      .frame1618873735 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        column-gap: 24px;

        .frame1618873734 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          column-gap: 24px;

          .frame1618873733 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            border-radius: 20px;
            box-shadow: var(--Effect-3, 0px 5px 60px 4px #00943c26);
            background: #ffffff;
            padding: 8px;
          }
        }

        .filledPrimary3 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          column-gap: 8px;
          outline-width: 2px;
          outline-style: solid;
          outline-color: #003214;
          border-radius: 6px;
          padding: 16px 42px;

          .registerNow4 {
            flex-shrink: 0;
            line-height: 24px;
            letter-spacing: 0;
            color: var(--Button-Text-Green-20, #004a1e);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
          }
        }
      }
    }

    .frame1618874568 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin: 32px 41px 0px 17px;
      row-gap: 32px;

      .iNv10021 {
        line-height: 24px;
        letter-spacing: 0;
        color: var(--On-Surface-white-10, #111215);
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }

      .invoiceNo {
        line-height: 24px;
        letter-spacing: 0;
        color: var(--grey-text, #605d66);
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }

      .frame1618874567 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 32px;

        .frame1618874514 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 16px;

          .frame1618874451 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;

            .patientDetails {
              flex-shrink: 0;
              line-height: 30px;
              letter-spacing: 0;
              color: var(--Disabled-Grey, #aeaaae);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
            }

            .frame1618874450 {
              position: relative;
              flex-shrink: 0;
              border-radius: 8px;
              width: 168px;
              height: 66px;
              overflow: hidden;

              .ixNamurFailure {
                position: absolute;
                top: 13px;
                left: 105px;
                width: 41px;
                height: 41px;
              }
            }
          }

          .frame1618874449 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            border-radius: 10px;
            background: #ffffff;
            padding: 31px 50px 21px 42px;
            overflow: hidden;

            .frame1618874459 {
              display: inline-flex;
              align-items: center;
              align-self: stretch;
              column-gap: 50px;
              margin-right: 33px;
              margin-left: 40px;

              .ellipse44 {
                flex-shrink: 0;
                outline-width: 2px;
                outline-style: solid;
                outline-color: var(--Primary-Green-50, #00943c);
                border-radius: 50%;
                width: 80px;
                height: 80px;
              }

              .frame16188744582 {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                column-gap: 24px;

                .female {
                  flex-shrink: 0;
                  align-self: stretch;
                  line-height: 30px;
                  letter-spacing: 0;
                  color: #000000;
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 24px;
                }

                .patientName {
                  flex-shrink: 0;
                  align-self: stretch;
                  line-height: 16px;
                  letter-spacing: 0;
                  color: var(--grey-text, #605d66);
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 12px;
                }

                .autoWrapper2 {
                  position: relative;
                  flex-shrink: 0;
                  width: 1px;
                  height: 81px;

                  .line69 {
                    position: absolute;
                    top: 41px;
                    left: -40px;
                    background: #605d66;
                    width: 81px;
                    height: 1px;
                    rotate: 90deg;
                  }
                }

                .frame1618874452 {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  align-items: flex-start;
                  row-gap: 8px;

                  .leslieAlexander {
                    flex-shrink: 0;
                    width: 283px;
                    line-height: 30px;
                    letter-spacing: 0;
                    color: #000000;
                    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 24px;
                  }
                }

                .frame1618874457 {
                  display: inline-flex;
                  flex-shrink: 0;
                  align-items: center;
                  column-gap: 32px;

                  .frame1618874455 {
                    display: inline-flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    align-items: center;
                    justify-content: center;
                    row-gap: 8px;
                  }
                }

                .frame1618874458 {
                  display: inline-flex;
                  flex-shrink: 0;
                  align-items: center;
                  column-gap: 32px;

                  .frame1618874454 {
                    display: inline-flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    align-items: flex-start;
                    row-gap: 8px;
                  }
                }
              }
            }

            .line68 {
              margin-top: 50px;
              margin-left: 8px;
              background: #aeaaae;
              width: 1018px;
              height: 1px;
            }

            .autoWrapper3 {
              display: flex;
              align-items: center;
              align-self: stretch;
              justify-content: space-between;
              margin-top: 25px;
              padding-right: 4px;
              padding-left: 0;

              .insuranceMedCareHmo {
                width: 185px;
                line-height: 16px;
                letter-spacing: 0;
                color: var(--On-Surface-white-10, #111215);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 12px;
                font-weight: 600;
              }

              .frame1618874495 {
                display: inline-flex;
                align-items: center;
                column-gap: 8px;

                .status {
                  flex-shrink: 0;
                  width: 41px;
                  line-height: 16px;
                  letter-spacing: 0;
                  color: var(--grey-text, #605d66);
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 12px;
                  font-weight: 600;
                }

                .frame1618873895 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  justify-content: center;
                  column-gap: 8px;
                  border-radius: 6px;
                  background: var(--Secondary-Blue-60, #3498db);
                  padding: 8px;
                  width: 204px;
                  height: 24px;

                  .active {
                    flex-shrink: 0;
                    line-height: 16px;
                    letter-spacing: 0;
                    color: #ffffff;
                    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }

        .frame1618874566 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          border-radius: 6px;
          row-gap: 42px;

          .frame1618874483 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            height: 411px;
            row-gap: 24px;

            .patientOutstandingBi {
              flex-shrink: 0;
              align-self: stretch;
              line-height: 30px;
              letter-spacing: 0;
              color: var(--Primary-Green-50, #00943c);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
            }

            .frame16188744572 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              border: 1px solid var(--grey-text, #605d66);
              border-radius: 10px;
              padding: 31px 12px 31px 0px;
              overflow: hidden;

              .a3000002 {
                margin: 0px 0px 0px 75px;
                line-height: 24px;
                letter-spacing: 0;
                color: var(--On-Surface-white-10, #111215);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 16px;
              }

              .a270000 {
                margin: 0px 0px 0px 93px;
                line-height: 24px;
                letter-spacing: 0;
                color: var(--Error-Red-50, #dc362e);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 16px;
              }

              .a30000 {
                margin: 0px 0px 0px 80px;
                line-height: 24px;
                letter-spacing: 0;
                color: var(--Success-Green-50, #71b908);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 16px;
              }

              .chestXRay {
                margin: 0px 0px 0px 60px;
                line-height: 24px;
                letter-spacing: 0;
                color: var(--On-Surface-white-10, #111215);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 16px;
              }

              .a20250915 {
                margin: 0px 0px 0px 70px;
                line-height: 24px;
                letter-spacing: 0;
                color: var(--On-Surface-white-10, #111215);
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 16px;
              }

              .autoWrapper4 {
                display: flex;
                align-items: center;
                align-self: stretch;
                padding-right: 64px;
                padding-left: 45px;

                .date {
                  margin: 0px 0px 0px 94px;
                  line-height: 24px;
                  letter-spacing: 0;
                  color: var(--grey-text, #605d66);
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 16px;
                }

                .deposited {
                  margin: 0px 0px 0px 80px;
                  line-height: 24px;
                  letter-spacing: 0;
                  color: var(--grey-text, #605d66);
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 16px;
                }

                .balance {
                  margin: 0px 0px 0px 81px;
                  line-height: 24px;
                  letter-spacing: 0;
                  color: var(--grey-text, #605d66);
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 16px;
                }

                .status2 {
                  margin: 0px 0px 0px 110px;
                  line-height: 24px;
                  letter-spacing: 0;
                  color: var(--grey-text, #605d66);
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 16px;
                }
              }

              .line72 {
                margin-top: 23px;
                margin-left: -1px;
                background: #605d66;
                width: 1105px;
                height: 1px;
              }

              .group33358 {
                display: flex;
                align-items: center;
                align-self: stretch;
                margin: 32px 47px 0px 45px;

                .a300000 {
                  margin: 0px 0px 0px 64px;
                  line-height: 24px;
                  letter-spacing: 0;
                  color: var(--On-Surface-white-10, #111215);
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 16px;
                }
              }

              .group33359 {
                display: flex;
                align-items: center;
                align-self: stretch;
                margin: 37px 16px 0px 45px;
              }

              .group33360 {
                display: flex;
                align-items: center;
                align-self: stretch;
                margin: 36px 83px 0px 45px;
              }

              .autoWrapper5 {
                display: flex;
                align-items: center;
                align-self: stretch;
                justify-content: space-between;
                margin-top: 56px;
                padding-right: 16px;
                padding-left: 36px;

                .frame1618874494 {
                  display: inline-flex;
                  align-items: center;
                  column-gap: 14px;

                  .ellipse41 {
                    flex-shrink: 0;
                    border-radius: 50%;
                    background: var(--Error-Red-50, #dc362e);
                    width: 15px;
                    height: 15px;
                  }

                  .outstandingBalance54 {
                    flex-shrink: 0;
                    line-height: 24px;
                    letter-spacing: 0;
                    color: #000000;
                    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 20px;
                  }
                }

                .makePaymentsNow {
                  line-height: 24px;
                  letter-spacing: 0;
                  color: var(--Primary-Green-50, #00943c);
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 20px;
                  font-weight: 600;
                  text-decoration: underline;
                }
              }
            }
          }

          .filledPrimary4 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            margin-right: 438px;
            margin-left: 438px;
            border-radius: 6px;
            background: var(--Primary-Green-50, #00943c);
            padding: 16px 42px;

            .registerNow5 {
              flex-shrink: 0;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--Surface-Grey-99, #f7f7f7);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
            }
          }
        }
      }

      .frame1618874497 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 24px;

        .frame1618873910 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          background: #ffffff;
          padding: 7px 43px 3px 21px;
          overflow: hidden;

          .paymentHistory {
            margin: 6px 0px 0px;
            line-height: 30px;
            letter-spacing: 0;
            color: var(--Primary-Green-50, #00943c);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
          }

          .frame1618873911 {
            display: inline-flex;
            position: relative;
            align-items: center;
            justify-content: center;
            column-gap: 16px;

            .ellipse26 {
              flex-shrink: 0;
              border-radius: 50%;
              background: #ecf7ff;
              width: 53px;
              height: 53px;
            }

            .riArrowDropUpLine {
              position: absolute;
              top: 0;
              left: 0;
              flex-shrink: 0;
              width: 54px;
              height: 54px;
            }
          }
        }

        .frame16188744573 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          border: 1px solid var(--grey-text, #605d66);
          border-radius: 10px;
          background: #ffffff;
          padding: 32px 12px 8px 0px;
          overflow: hidden;

          .autoWrapper6 {
            display: flex;
            align-items: center;
            align-self: stretch;
            padding-right: 61px;
            padding-left: 30px;

            .date2 {
              margin: 0px 0px 0px 85px;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--grey-text, #605d66);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }

            .service {
              margin: 0px 0px 0px 128px;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--grey-text, #605d66);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }

            .amount {
              margin: 0px 0px 0px 92px;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--grey-text, #605d66);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }

            .method {
              margin: 0px 0px 0px 103px;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--grey-text, #605d66);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }

            .status3 {
              margin: 0px 0px 0px 104px;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--grey-text, #605d66);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }
          }

          .line722 {
            margin-top: 22px;
            margin-left: -1px;
            background: #605d66;
            width: 1105px;
            height: 1px;
          }

          .group333582 {
            display: flex;
            align-items: center;
            align-self: stretch;
            margin: 32px 45px 0px 30px;

            .a202509152 {
              margin: 0px 0px 0px 80px;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--On-Surface-white-10, #111215);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }

            .a3000003 {
              margin: 0px 0px 0px 69px;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--On-Surface-white-10, #111215);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }

            .cash {
              margin: 0px 0px 0px 80px;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--Background-container-white-10, #222222);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }

            .successful {
              margin: 0px 0px 0px 104px;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--On-Surface-white-10, #111215);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }
          }

          .group333592 {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: stretch;
            margin: 43px 45px 0px 30px;

            .transfer {
              line-height: 24px;
              letter-spacing: 0;
              color: var(--Background-container-white-10, #222222);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }

            .group333602 {
              display: flex;
              align-items: center;
              align-self: stretch;
              justify-content: space-between;
              min-width: 1029px;
              height: 24px;
            }

            .group33361 {
              display: flex;
              align-items: center;
              align-self: stretch;
              justify-content: space-between;
              margin-top: 36px;
              min-width: 1029px;
              height: 24px;
            }
          }
        }
      }
    }
  }
}
